<!doctype html>
<html lang="ru, en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZNAP Поликлиника</title>
    <link rel="stylesheet" href="/static/font/css/font-awesome.css">
    <link rel="stylesheet" href="/static/css/pure-min.css">
    <link rel="stylesheet" href="/static/css/layouts/main.css">
   
</head>
<body id="{{ app_name }}">
<script src="/static/js/lib/lodash/lodash.min.js"></script>
<script src="/static/js/lib/jquery/jquery-1.11.2.min.js"></script>
<script src="/static/js/lib/form-validator/jquery.form-validator.min.js"></script>
<script src="/static/js/lib/mithril/mithril.min.js"></script>
<script src="/static/js/apps/{{ app_name }}.pack.js"></script>
</body>
</html>
